div {
    padding: 10px;
    border: 1px solid red;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 15px;
}

.players {
    width: 50%;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}