:root {
    --active-one: rgb(123, 177, 221);
    --active-two: rgb(108, 146, 228);
}

div {
    padding: 10px;
    border: 1px solid red;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 15px;
}

.players {
    width: 50%;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

p {
    text-align: center;
}

.piece {
    font-size: 10rem;
}

.active {
    animation-name: color;
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
}

.inactive {
    background-color: white;
}

@keyframes color {
    0% {
      background-color: var(--active-one);
      color: black;
    }
    50% {
      background-color: var(--active-two);
      color: black;
    }
    100% {
      background-color: var(--active-one);
      color: black;
    }
  }